<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  </head>
  <body>
   

    <header class="page-header" role="banner">
      <center><a href="http://dockerlabs.collabnix.com"><img src="https://raw.githubusercontent.com/collabnix/dockerlabs/master/images/moby_large.png"></a></center>
      <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/collabnix/kubetools" data-size="large" data-show-count="true" aria-label="Star collabnix/docker-community-extensions on GitHub">Star</a>
      <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/collabnix/kubetools/fork" data-size="large" data-show-count="true" aria-label="Fork collabnix/docker-community-extensions on GitHub">Fork</a>
     <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/collabnix/kubetools/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch collabnix/dockertools on GitHub">Watch</a>
      <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/collabnix" data-size="large" data-show-count="true" aria-label="Follow @collabnix on GitHub">Follow @collabnix</a>
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2> 
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="https://launchpass.com/collabnix" class="btn">Join Slack</a>
     {% endif %}
      {% if site.show_downloads %}
        <a href="https://collabnix.com/kubectl-cheatsheet/" class="btn">Kubectl Cheatsheet</a>
     {% endif %}
        {% if site.show_downloads %}
        <a href="https://kubelabs.collabnix.com/" class="btn">Kubernetes Labs</a>
     {% endif %}
        {% if site.show_downloads %}
        <a href="https://twitter.com/kubetools" class="btn">Follow us on Twitter</a>
     {% endif %}
          
    </header>
        
          

    <main id="content" class="main-content" role="main">
      
      {{ content }}
    
      <div>

              <h3> Join Collabnix Community on Discord </h3>
        
       <iframe src="https://discordapp.com/widget?id=1020180904129335379&theme=dark" width="830" height="500" allowtransparency="true" frameborder="0"></iframe>
        {% if site.github.is_project_page %}
       <a class="twitter-timeline" data-width="1200" data-height="500" href="https://twitter.com/collabnix?ref_src=twsrc%5Etfw">Tweets by collabnix</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

             
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
              {% if site.show_downloads %}   
      {% endif %}
       <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.
         <div align="center">
          <img src="https://hitwebcounter.com/counter/counter.php?page=7703277&style=0006&nbdigits=5&type=page&initCount=0" title="Total Website Hits" Alt="Web Hits"   border="0" /></a>        
         </div>   
        </span> 
        <div id="wcb" class="carbonbadge"></div>
<script src="https://unpkg.com/website-carbon-badges@1.1.1/b.min.js" defer></script>
      </footer>
    </main>
    <!-- Place this tag in your head or just before your close body tag. -->

<script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
      
